<h2>More information about {{model.author}}'s question</h2>
{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update" destroyQuestion="destroyQuestion"}}

<br>
<h3>All answers</h3>

{{#each model.answers as |answer|}}
  <li>Answer: {{answer.text}} </li>
  <li>Author: {{answer.author}} </li>

  <br>
{{/each}}

{{new-answer question=model answer=answer saveAnswer2="saveAnswer3"}}
